<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--    包扫描   controller放在哪个位置  -->
    <context:component-scan base-package="com.example.lanqiao0327ssm.controller"></context:component-scan>
    <!--    视图解析器   return  xxxx   -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>
    <!--    静态资源处理   img  css  js -->
    <!--    1. 开启注解驱动-->
    <mvc:annotation-driven></mvc:annotation-driven>
    <!--    2. 使用默认servlet 处理静态资源 -->
    <mvc:default-servlet-handler></mvc:default-servlet-handler>
    <!--    文件上传   -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"></bean>

<!--  默认首页， 修改index.jsp名字                    重定向进行转发-->
    <mvc:view-controller path="/" view-name="redirect:/userPages"></mvc:view-controller>


    <!--    拦截器  -->
    <mvc:interceptors>
        <mvc:interceptor>
            <!--            配置哪些路径需要用我们的拦截器进行拦截      /**  所有路径都进行拦截  -->
            <mvc:mapping path="/shoppingcart/**"/>
            <mvc:mapping path="/order/**"/>
            <!--            配置我们自己的拦截器  -->
            <bean class="com.example.lanqiao0327ssm.intercepor.Loginlnterceptor"/>
        </mvc:interceptor>

        <mvc:interceptor>
            <!--            配置哪些路径需要用我们的拦截器进行拦截      /**  所有路径都进行拦截  -->
            <mvc:mapping path="/shoppingcart/**"/>
            <!--            配置我们自己的拦截器  -->
            <bean class="com.example.lanqiao0327ssm.intercepor.ShoppingCartNumlnterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>