
.confirmOrder {
    background-color: #f5f5f5;
    padding-bottom: 20px;
}
/* 头部CSS */
.confirmOrder .confirmOrder-header {
    background-color: #fff;
    border-bottom: 2px solid #ff6700;
    margin-bottom: 20px;
}
.confirmOrder .confirmOrder-header .header-content {
    width: 1225px;
    margin: 0 auto;
    height: 80px;
}
.confirmOrder .confirmOrder-header .header-content p {
    float: left;
    font-size: 28px;

    color: #424242;
    margin-right: 20px;
}

/* 头部CSS END */

/* 主要内容容器CSS */
.confirmOrder .content {
    width: 1225px;
    margin: 0 auto;
    padding: 48px 0 0;
    background-color: #fff;
}

/* 选择地址CSS */
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.confirmOrder .content .section-address {
    margin: 0 48px;
    overflow: hidden;
}
.confirmOrder .content .section-address .title {
    color: #333;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 20px;
}
.confirmOrder .content .address-body li {
    float: left;
    color: #333;
    width: 220px;
    height: 178px;
    border: 1px solid #e0e0e0;
    padding: 15px 24px 0;
    margin-right: 17px;
    margin-bottom: 24px;
}
.confirmOrder .content .address-body .in-section {
    border: 1px solid #ff6700;
}
.confirmOrder .content .address-body li h2 {
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 10px;
    margin-top: 0;
}
.confirmOrder .content .address-body li p {
    font-size: 14px;
    color: #757575;
}
.confirmOrder .content .address-body li .address {
    padding: 10px 0;
    max-width: 180px;
    max-height: 88px;
    line-height: 22px;
    overflow: hidden;
}
.confirmOrder .content .address-body .add-address {
    text-align: center;
    line-height: 30px;
}
.confirmOrder .content .address-body .add-address i {
    font-size: 30px;
    padding-top: 50px;
    text-align: center;
}
/* 选择地址CSS END */

/* 商品及优惠券CSS */
.confirmOrder .content .section-goods {
    margin: 0 48px;
}
.confirmOrder .content .section-goods p.title {
    color: #333;
    font-size: 18px;
    line-height: 40px;
}
.confirmOrder .content .section-goods .goods-list {
    padding: 5px 0;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
.confirmOrder .content .section-goods .goods-list li {
    padding: 10px 0;
    color: #424242;
    overflow: hidden;
}
.confirmOrder .content .section-goods .goods-list li img {
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.confirmOrder .content .section-goods .goods-list li .pro-name {
    float: left;
    width: 650px;
    line-height: 30px;
}
.confirmOrder .content .section-goods .goods-list li .pro-price {
    float: left;
    width: 150px;
    text-align: center;
    line-height: 30px;
}
.confirmOrder .content .section-goods .goods-list li .pro-status {
    float: left;
    width: 99px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
.confirmOrder .content .section-goods .goods-list li .pro-total {
    float: left;
    width: 190px;
    text-align: center;
    color: #ff6700;
    line-height: 30px;
}
/* 商品及优惠券CSS END */

/* 配送方式CSS */
.confirmOrder .content .section-shipment {
    margin: 0 48px;
    padding: 25px 0;
    border-bottom: 1px solid #e0e0e0;
    overflow: hidden;
}
.confirmOrder .content .section-shipment .title {
    float: left;
    width: 150px;
    color: #333;
    font-size: 18px;
    line-height: 38px;
}
.confirmOrder .content .section-shipment .shipment {
    float: left;
    line-height: 38px;
    font-size: 14px;
    color: #ff6700;
}
/* 配送方式CSS END */

/* 发票CSS */
.confirmOrder .content .section-invoice {
    margin: 0 48px;
    padding: 25px 0;
    border-bottom: 1px solid #e0e0e0;
    overflow: hidden;
}
.confirmOrder .content .section-invoice .title {
    float: left;
    width: 150px;
    color: #333;
    font-size: 18px;
    line-height: 38px;
}
.confirmOrder .content .section-invoice .invoice {
    float: left;
    line-height: 38px;
    font-size: 14px;
    margin-right: 20px;
    color: #ff6700;
}
/* 发票CSS END */

/* 结算列表CSS */
.confirmOrder .content .section-count {
    margin: 0 48px;
    padding: 20px 0;
    overflow: hidden;
}
.confirmOrder .content .section-count .money-box {
    float: right;
    text-align: right;
}
.confirmOrder .content .section-count .money-box .title {
    float: left;
    width: 126px;
    height: 30px;
    display: block;
    line-height: 30px;
    color: #757575;
}
.confirmOrder .content .section-count .money-box .value {
    float: left;
    min-width: 105px;
    height: 30px;
    display: block;
    line-height: 30px;
    color: #ff6700;
}
.confirmOrder .content .section-count .money-box .total .title {
    padding-top: 15px;
}
.confirmOrder .content .section-count .money-box .total .value {
    padding-top: 10px;
}
.confirmOrder .content .section-count .money-box .total-price {
    font-size: 30px;
}
/* 结算列表CSS END */

/* 结算导航CSS */
.confirmOrder .content .section-bar {
    padding: 20px 48px;
    border-top: 2px solid #f5f5f5;
    overflow: hidden;
}
.confirmOrder .content .section-bar .btn {
    float: right;
}
.confirmOrder .content .section-bar .btn .btn-base {
    float: left;
    margin-left: 30px;
    width: 158px;
    height: 38px;
    border: 1px solid #b0b0b0;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
}
.confirmOrder .content .section-bar .btn .btn-return {
    color: rgba(0, 0, 0, 0.27);
    border-color: rgba(0, 0, 0, 0.27);
}
.confirmOrder .content .section-bar .btn .btn-primary {
    background: #ff6700;
    border-color: #ff6700;
    color: #fff;
}
/* 结算导航CSS */